In [8]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df=pd.read_excel('OnlineRetail.xlsx')
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [9]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]

In [10]:
basket = (df[df['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [11]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets.drop('POSTAGE', inplace=True, axis=1)

In [12]:
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)

In [13]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

                    antecedents  ... conviction
0   (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
1  (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
2  (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
3    (ALARM CLOCK BAKELIKE RED)  ...   5.568878
4   (ALARM CLOCK BAKELIKE PINK)  ...   3.293135

[5 rows x 9 columns]

In [22]:
rules[ (rules['support'] >= 0.1) &
       (rules['confidence'] >= 0.6) ]

                             antecedents  ... conviction
10       (PLASTERS IN TIN CIRCUS PARADE)  ...   2.104592
12    (PLASTERS IN TIN WOODLAND ANIMALS)  ...   2.221939
13            (PLASTERS IN TIN SPACEBOY)  ...   3.443878
14  (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.736395
15         (SET/6 RED SPOTTY PAPER CUPS)  ...   3.345481
16  (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.780612
17       (SET/6 RED SPOTTY PAPER PLATES)  ...   4.336735
18       (SET/6 RED SPOTTY PAPER PLATES)  ...  21.556122
19         (SET/6 RED SPOTTY PAPER CUPS)  ...   7.852041

[9 rows x 9 columns]

In [21]:
max(rules['support'])

0.12244897959183673